# Configuración de PostgreSQL (Coincide con las variables de docker-compose.yml)
DB_URL=jdbc:postgresql://localhost:5432/courtmaster_db
DB_USERNAME=club_user
DB_PASSWORD=club_password

# Configuración de Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configuración de Seguridad (JWT)
# REGLA: En producción, cambia esta clave por una cadena larga, compleja y aleatoria.
JWT_SECRET=TuClaveSecretaDeDesarrolloCambiarEnProduccion1234567890!
JWT_EXPIRATION=86400000